<h1> Inventions</h1>
<% @inventions.each do |i|%>
<ul>
  <li>Invention Name: <%= link_to i.name, user_invention_path(i.user, i)%>
  <li>Inventor: <%=i.user.name%>
</ul><br/>

<%end%>
<button id="more_invention_data">More Info</button>
<div id= "ajax_invention_data"></div>
