<h1> Inventions</h1>

<div id= "html_format">
  <ul>
    <% @inventions.each do |i|%>
      <strong> <li>Invention Name: <%= link_to i.name, user_invention_path(i.user, i)%> </li> </strong>
    <%end%>
  </ul><br/>
</div>
